@import "../../global.scss";
.homeScreen {
    height: 100vh;
    @include CenterItem;
    background-color: #e7eaf0;
    &_parent {
        width: 312px;
        height: 360px;
        box-shadow: $main-shadow;

        padding: 24px;
        &_wrapper {
            @include CenterItem;
            flex-direction: column;
            gap: 40px;
            height: 100%;
            width: 100%;
            &_img {
                width: 90px;
                height: 90px;
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
            &_userDetails {
                @include CenterItem;
                flex-direction: column;
                height: 40px;
            }
        }
    }
}
